.parameters{
  color: white;
  font-family: "Georgia";
  font-size: 22px;
  text-align: center;
}

.container{
  width: 100%;
  height: 100vh;
}
.input-cont{
  height: 4vh;
  border-radius: 10px;
  width: 14vw;
  border-width: 0px;
  
}
.btn-cont{
  background-color: blueviolet;
  border-radius: 10px;
  border-width: 0px;
  color:white;
  width: 5vw;
  margin-bottom:10px;

}
.cli{
  color: green;
  font-family: "roboto";
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.heading{
  font-family: "Roboto";
  color: white;
  text-align: center;
  padding-top:10px;
}
.card-cont{
  background-color: rgb(18, 155, 182);
  margin-left: 25%;
  width: 50%;
}
.result{
  display:flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.text{
  color: white;
}
.inp-cont{
  display:flex;
  flex-direction: row;
  justify-content:center;
  
}